<template>
  <BModal v-model="showModal" centered hide-header size="lg" @hidden="reset">
    <form>
      <div class="form-group">
        <label for="date">Date</label>
        <input id="date" v-model="date" type="date" class="form-control" />
      </div>

      <div class="form-group">
        <label for="user">Athlète</label>
        <input id="user" v-model="user" type="text" class="form-control" autofocus />
      </div>

      <div class="form-group">
        <label for="quote">Citation</label>
        <textarea id="quote" v-model="quote" class="form-control" />
      </div>
    </form>

    <div v-if="error" class="mt-3 text-center text-primary">
      <small>Veuillez remplir correctement le formulaire.</small>
    </div>

    <div
      slot="modal-footer"
      class="w-100 text-right d-flex justify-content-between align-items-center"
    >
      <icon
        :class="{ invisible: !edit.id }"
        class="float-left text-white cursor-pointer p-2"
        icon="ui-delete"
        size="1x"
        @click.native="deleteQuote"
      />
      <div>
        <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
        <button class="btn btn-primary" @click="saveQuote">Enregistrer</button>
      </div>
    </div>
  </BModal>
</template>

<script>
import { BModal } from 'bootstrap-vue'
import format from 'date-fns/format'

export default {
  name: 'QuotesForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      showModal: false,
      error: false,
      // Form
      date: '',
      user: '',
      quote: ''
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm
      // Preselect current day
      this.date = format(Date.now(), 'yyyy-MM-dd')

      if (this.edit && this.edit.id) {
        this.date = format(this.edit.date, 'yyyy-MM-dd')
        this.user = this.edit.user
        this.quote = this.edit.quote
      }
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.error = false

      this.date = ''
      this.user = ''
      this.quote = ''
    },

    closeModal() {
      this.showModal = false
      this.reset()
    },

    saveQuote() {
      if (!this.date || !this.user || !this.quote) {
        this.error = true
        return
      }

      const quote = {
        date: new Date(this.date).getTime(),
        user: this.user,
        quote: this.quote
      }

      if (this.edit.id) {
        this.$db.patchQuote(this.edit.id, quote)
      } else {
        this.$db.addQuote(quote)
      }

      this.closeModal()
    },

    deleteQuote() {
      this.$db.deleteQuote(this.edit.id)

      this.closeModal()
    }
  }
}
</script>
