<template>
  <div>
    <div class="card-columns">
      <div v-for="(q, i) in quotes" :key="i" class="card p-2 border-primary">
        <blockquote class="blockquote mb-0 card-body">
          <!-- eslint-disable-next-line vue/no-v-html -->
          <p class="mb-0" v-html="q.quote" />

          <footer class="blockquote-footer text-muted">
            {{ q.user }}
          </footer>

          <icon
            v-if="isRole.admin"
            class="edit-icon position-absolute text-light cursor-pointer"
            icon="ui-edit"
            size="1x"
            @click.native.stop="displayForm(q)"
          />
        </blockquote>
      </div>
    </div>

    <FloatingButton v-if="isRole.admin" :click-handler="displayForm" icon="ui-add" />

    <QuotesForm v-model="showQuoteForm" :edit="quoteToEdit" />
  </div>
</template>

<script>
import { orderBy } from 'lodash-es'

import QuotesForm from './QuotesForm'
import FloatingButton from '@/components/ui/FloatingButton'

export default {
  name: 'Quotes',

  components: { FloatingButton, QuotesForm },

  data() {
    return {
      showQuoteForm: false,
      quoteToEdit: {}
    }
  },

  computed: {
    quotes() {
      return orderBy(this.$store.state.quotes, ['date'], ['desc'])
    }
  },

  created() {
    this.$store.commit('setTitle', 'Les perles du groupe')
  },

  methods: {
    displayForm(quote) {
      this.showQuoteForm = true
      this.quoteToEdit = quote
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.blockquote {
  font-size: 95%;

  p {
    white-space: pre-line;
  }

  .edit-icon {
    top: 0.75rem;
    right: 0.75rem;
  }
}
</style>
