<template>
  <div>
    <Quote v-if="!v30ml && !vma" title="Il était une fois..." />

    <template v-else>
      <PacesPanel
        v-if="v30ml"
        id="v30ml"
        :title-value="`30m lancé : ${v30ml}s`"
        :intencities="config.paces.v30ml.intencities"
        :distances="config.paces.v30ml.distances"
        :calc-function="calcV30ml"
        title="Résistance vitesse"
      />

      <PacesPanel
        v-if="vma"
        id="vma"
        :title-value="`VMA : ${vma} km/h`"
        :intencities="config.paces.vma.intencities"
        :distances="config.paces.vma.distances"
        :calc-function="calcVma"
        title="Résistance volume"
      />
    </template>

    <FloatingButton
      :click-handler="displayForm"
      icon="ui-edit"
      :class="{ animate: !v30ml && !vma }"
    />

    <PacesForm v-model="showPacesForm" :edit="pacesToEdit" />
  </div>
</template>

<script>
import config from '@/configuration/config'

import Quote from '@/components/ui/Quote'
import FloatingButton from '@/components/ui/FloatingButton'
import PacesForm from './PacesForm'
import PacesPanel from './PacesPanel'

export default {
  name: 'Paces',

  components: { Quote, FloatingButton, PacesForm, PacesPanel },

  data() {
    return {
      showPacesForm: false,
      pacesToEdit: {}
    }
  },

  computed: {
    config: () => config,

    v30ml() {
      return this.$store.state.userData.v30ml
    },
    vma() {
      return this.$store.state.userData.vma
    }
  },

  created() {
    this.$store.commit('setTitle', 'Allures')
  },

  methods: {
    displayForm() {
      this.showPacesForm = true
      this.pacesToEdit = {
        v30ml: this.v30ml,
        vma: this.vma
      }
    },

    formatDuration(durInSeconds) {
      const milliseconds = Math.round((durInSeconds - Math.trunc(durInSeconds)) * 100)
      const seconds = Math.trunc(durInSeconds % 60)
      const minutes = Math.floor(durInSeconds / 60)

      const formattedMilliseconds = (milliseconds < 10 ? '0' : '') + milliseconds
      const formattedSeconds = (minutes > 0 && seconds < 10 ? '0' : '') + seconds + '"'
      const formattedMinutes = minutes > 0 ? minutes + "'" : ''

      return formattedMinutes + formattedSeconds + formattedMilliseconds
    },

    calcV30ml(intensity, distance) {
      const vmaxMS = 30 / this.v30ml
      const calcVmaxMS = (vmaxMS * intensity) / 100
      const duration = distance / calcVmaxMS

      return this.formatDuration(duration)
    },

    calcVma(intensity, distance) {
      const vmaMS = (this.vma * 1000) / 3600
      const calcVmaMS = (vmaMS * intensity) / 100
      const duration = distance / calcVmaMS

      return this.formatDuration(duration)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/scss/variables';

@media (min-width: $grid-breakpoint-md) {
  .intensity-selector {
    width: 50%;
    margin: 0 auto;
  }

  .list-group-flush {
    width: 50%;
    margin: 0 auto;
  }
}
</style>
