<template>
  <BModal v-model="showModal" centered hide-header @hidden="reset">
    <form>
      <div class="form-group">
        <label for="v30ml">30m lancé (en secondes)</label>
        <input id="v30ml" v-model="v30ml" type="number" step=".1" class="form-control" />
      </div>

      <div class="form-group">
        <label for="vma">VMA (en km/h)</label>
        <input id="vma" v-model="vma" type="number" step=".5" class="form-control" />
      </div>
    </form>

    <div v-if="error" class="mt-3 text-center text-primary">
      <small>Veuillez remplir correctement le formulaire.</small>
    </div>

    <div
      slot="modal-footer"
      class="w-100 text-right d-flex justify-content-between align-items-center"
    >
      <div>
        <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
        <button class="btn btn-primary" @click="setPaces">Enregistrer</button>
      </div>
    </div>
  </BModal>
</template>

<script>
import { isNaN } from 'lodash-es'
import { BModal } from 'bootstrap-vue'

export default {
  name: 'PacesForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      showModal: false,
      error: false,
      // Form
      v30ml: '',
      vma: ''
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm

      this.v30ml = this.edit.v30ml || ''
      this.vma = this.edit.vma || ''
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.error = false

      this.v30ml = ''
      this.vma = ''
    },

    closeModal() {
      this.showModal = false
      this.reset()
    },

    setPaces() {
      const v30ml = Number(this.v30ml)
      const vma = Number(this.vma)

      if (isNaN(v30ml) || isNaN(vma)) {
        this.error = true
        return
      }

      this.$db.patchPaces(this.v30ml, this.vma)

      this.closeModal()
    }
  }
}
</script>
