<template>
  <div class="card border border-primary mb-3">
    <div class="card-header bg-primary text-secondary d-flex justify-content-between">
      <span>{{ title }}</span>
      <span class="font-italic">{{ titleValue }}</span>
    </div>

    <div class="card-body">
      <div class="input-group input-group-sm mb-3 intensity-selector">
        <div class="input-group-prepend w-50">
          <label :for="`${id}Intensity`" class="input-group-text w-100">Intensité</label>
        </div>
        <select :id="`${id}Intensity`" v-model="intensity" class="form-control">
          <option v-for="i in intencities" :key="i" :value="i">{{ i }}%</option>
        </select>
      </div>

      <ul class="list-group list-group-flush">
        <li
          v-for="d in distances"
          :key="`rv-${d}`"
          class="list-group-item py-0 px-5 d-flex justify-content-between"
        >
          <div>{{ d }}m</div>
          <div>{{ calcFunction(intensity, d) }}</div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PacesPanel',

  props: {
    id: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    titleValue: {
      type: String,
      required: true
    },
    intencities: {
      type: Array,
      required: true
    },
    distances: {
      type: Array,
      required: true
    },
    calcFunction: {
      type: Function,
      required: true
    }
  },

  data() {
    return {
      intensity: ''
    }
  },

  created() {
    this.intensity = this.intencities[0]
  }
}
</script>

<style lang="scss" scoped>
@import '~@/scss/variables';

@media (min-width: $grid-breakpoint-md) {
  .intensity-selector {
    width: 50%;
    margin: 0 auto;
  }

  ul.list-group-flush {
    width: 50%;
    margin: 0 auto;
  }
}
</style>
