<template>
  <div id="home">
    <MainTitle />

    <div class="row text-center mt-5 px-1 px-sm-4">
      <router-link
        v-for="menuItem in menu"
        :key="menuItem.label"
        :to="menuItem.route"
        tag="div"
        class="col-4 cursor-pointer p-3"
        :class="menuItem.home === 2 ? 'additional-icon' : ''"
      >
        <icon :icon="menuItem.icon" />
        <div class="mt-2">{{ menuItem.label }}</div>
      </router-link>
    </div>
  </div>
</template>

<script>
import { filter } from 'lodash-es'
import config from '@/configuration/config'

import MainTitle from './MainTitle'

export default {
  name: 'Home',

  components: { MainTitle },

  computed: {
    menu() {
      return filter(config.menu, i => i.home)
    }
  },

  created() {
    this.$store.commit('setTitle', '')
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.additional-icon {
  display: none;
}

@media (min-height: 650px) {
  .additional-icon {
    display: block;
  }
}
</style>
