<template>
  <div id="home">
    <MainTitle />

    <div id="login-form" class="w-75 mt-5 mx-auto px-4">
      <div class="form-group">
        <label for="email" class="d-none">Email</label>
        <input
          id="email"
          v-model="email"
          type="email"
          class="form-control"
          placeholder="Email"
          required
          autofocus
          @keyup.enter="login"
        />
      </div>

      <div class="form-group">
        <label for="password" class="d-none">Mot de passe</label>
        <input
          id="password"
          v-model="password"
          type="password"
          class="form-control"
          placeholder="Mot de passe"
          required
          @keyup.enter="login"
        />
      </div>

      <div v-if="error" class="alert alert-danger">{{ error | errors }}</div>

      <button class="btn btn-primary btn-block mt-3" @click="login">
        <template v-if="!isLoading">
          Se connecter
        </template>
        <Spinner v-else class="my-1" color="secondary" />
      </button>
      <router-link to="/register" class="btn btn-link btn-block mt-1">
        <small>Pas encore inscrit ?</small>
      </router-link>
    </div>
  </div>
</template>

<script>
import MainTitle from './MainTitle'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'Login',

  components: { MainTitle, Spinner },

  data() {
    return {
      email: '',
      password: '',
      error: '',
      isLoading: false
    }
  },

  computed: {
    nextRoute() {
      return this.$route.query.redirect || '/'
    }
  },

  created() {
    if (this.$store.state.user) this.$router.replace(this.nextRoute)

    this.$store.commit('setTitle', '')
  },

  methods: {
    login() {
      if (this.isLoading) return

      if (!this.email || !this.password) {
        this.error = 'Tous les champs sont obligatoires.'
        return
      }

      this.isLoading = true
      this.$auth
        .signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
          // Just 500ms to show spinner :D
          setTimeout(() => {
            this.isLoading = false
          }, 500)
        })
        .catch(err => {
          this.isLoading = false
          this.error = err
        })
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

@media (min-width: $grid-breakpoint-lg) {
  #login-form {
    width: 50% !important;
  }
}
</style>
