<template>
  <div
    class="title d-flex flex-column justify-content-end text-center mx-5 border-bottom border-primary"
  >
    <h1>Team Bac à Sable</h1>
    <h6>{{ version }}</h6>
  </div>
</template>

<script>
import pkg from '@/../package.json'

export default {
  name: 'MainTitle',

  computed: {
    version() {
      const isNightly = process.env.VUE_APP_NIGHTLY === 'true'
      return pkg.version + (isNightly ? '-nightly' : '')
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.title {
  height: 30vh;

  h1 {
    font-size: 2rem;
  }
}
</style>
