<template>
  <div id="home">
    <MainTitle />

    <div class="w-75 mt-5 mx-auto px-4">
      <div class="form-group">
        <label for="firstname" class="d-none">Prénom</label>
        <input
          id="firstname"
          v-model="firstname"
          type="text"
          class="form-control"
          placeholder="Prénom"
          required
          autofocus
        />
      </div>

      <div class="form-group">
        <label for="email" class="d-none">Email</label>
        <input
          id="email"
          v-model="email"
          type="email"
          class="form-control"
          placeholder="Email"
          required
        />
      </div>

      <div class="form-group">
        <label for="password" class="d-none">Mot de passe</label>
        <input
          id="password"
          v-model="password"
          type="password"
          class="form-control"
          placeholder="Mot de passe"
          required
          @keyup.enter="register"
        />
      </div>

      <div v-if="error" class="alert alert-danger">{{ error | errors }}</div>

      <button class="btn btn-primary btn-block mt-3" @click="register">S'inscrire</button>
    </div>
  </div>
</template>

<script>
import MainTitle from './MainTitle'

export default {
  name: 'Register',

  components: { MainTitle },

  data() {
    return {
      firstname: '',
      email: '',
      password: '',
      error: ''
    }
  },

  created() {
    if (this.$store.state.user) this.$router.replace('/')

    this.$store.commit('setTitle', '')
  },

  methods: {
    register() {
      if (!this.firstname || !this.email || !this.password) {
        this.error = 'Tous les champs sont obligatoires.'
        return
      }

      this.$auth
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.$auth.updateProfile(this.firstname)
          this.$auth.sendEmailVerification()
        })
        .then(() => {
          this.$router.replace('/')
        })
        .catch(err => {
          this.error = err
        })
    }
  }
}
</script>
