<template>
  <div id="home">
    <MainTitle />

    <div class="w-75 mt-5 mx-auto px-4 text-center">
      <p>Merci de confirmer votre adresse email en cliquant sur le lien qui vous a été envoyé</p>

      <router-link to="/login" class="btn btn-primary btn-block mt-5">Se connecter</router-link>
      <button class="btn btn-link btn-block mt-1" @click="sendEmail">
        Envoyer un nouveau lien
      </button>
    </div>
  </div>
</template>

<script>
import MainTitle from './MainTitle'

export default {
  name: 'Validate',

  components: { MainTitle },

  created() {
    if (this.$store.state.user) {
      const nextRoute = this.$route.query.redirect || '/'
      this.$router.replace(nextRoute)
    }

    this.$store.commit('setTitle', '')
  },

  methods: {
    sendEmail() {
      this.$auth.sendEmailVerification()
    }
  }
}
</script>
