<template>
  <div class="card border border-primary mb-3">
    <div class="card-header bg-primary text-secondary">{{ title }}</div>

    <div class="list-group list-group-flush">
      <router-link
        v-for="c in list"
        :key="c.id"
        :to="'/competitions/' + c.id"
        class="list-group-item list-group-item-action list-group-item-dark"
      >
        <div class="d-flex justify-content-between">
          {{ c.date | date('dd/MM') }}

          <div class="d-flex flex-column mx-3" style="flex: 1">
            <div>{{ c.name }}</div>
            <small class="text-light font-italic">{{ c.place }}</small>
          </div>

          <icon v-if="c.schedule" class="text-light mt-1" icon="ui-clock" size="1x" />
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Calendar',

  props: {
    title: {
      type: String,
      required: true
    },

    list: {
      type: Array,
      required: true
    }
  }
}
</script>
