<template>
  <div class="card border border-primary">
    <div v-if="competition.name" class="card-header bg-primary text-secondary">
      {{ competition.name }}
    </div>

    <div class="card-body">
      <p>
        {{ competition.date | date('dd/MM/yyyy') }}<br />
        {{ competition.place }}
      </p>

      <div v-if="!competition.schedule" class="font-italic text-center">
        Pas d'horaires pour l'instant...
      </div>

      <template v-else>
        <img
          v-if="url"
          id="schedule-img"
          class="img-fluid w-100 cursor-pointer"
          :src="url"
          :alt="competition.name"
          @load="getImageSize"
          @click="openImage"
        />
      </template>
    </div>

    <PhotoSwipe :url="url" :size="size" :open="openPhotoSwipe" @close="resetImage" />

    <FloatingButton v-if="isRole.admin" :click-handler="displayForm" icon="ui-edit" />

    <CompetitionForm
      v-if="isRole.admin"
      v-model="showCompetitionForm"
      :edit="competition"
      @close="refresh"
    />
  </div>
</template>

<script>
import { find } from 'lodash-es'

import CompetitionForm from './CompetitionForm'
import FloatingButton from '@/components/ui/FloatingButton'
const PhotoSwipe = () =>
  import(/* webpackChunkName: "ui-photoswipe" */ '@/components/ui/PhotoSwipe')

export default {
  name: 'Competition',

  components: { PhotoSwipe, FloatingButton, CompetitionForm },

  props: {
    id: {
      type: String,
      required: true
    }
  },

  data: () => {
    return {
      competition: {},
      url: '',
      size: {},
      openPhotoSwipe: false,
      showCompetitionForm: false
    }
  },

  watch: {
    competitions() {
      this.getCompetition()
    }
  },

  created() {
    this.$store.commit('setBack', true)

    this.getCompetition()
  },

  destroyed() {
    this.$store.commit('setBack', false)
  },

  methods: {
    async getCompetition() {
      if (this.$store.state.competitions.length > 0)
        this.competition = find(this.$store.state.competitions, c => c.id === this.id)

      if (this.competition.schedule)
        this.url = await this.$db.getCompetitionFile(this.competition.schedule)
    },

    displayForm() {
      this.showCompetitionForm = true
    },

    getImageSize() {
      const img = document.getElementById('schedule-img')
      this.size = { width: img.naturalWidth, height: img.naturalHeight }
    },

    openImage() {
      this.openPhotoSwipe = true
    },

    resetImage() {
      this.openPhotoSwipe = false
    },

    // File url does not change, reset and reapply it
    refresh() {
      this.url = ''
      setTimeout(this.getCompetition, 1000)
    }
  }
}
</script>
