<template>
  <div>
    <Quote
      v-if="competitions.length === 0"
      title="En attendant le calendrier, voici de quoi patienter..."
    />

    <template v-else>
      <Calendar
        v-if="futureCompetitions.length > 0"
        title="Compétitions à venir"
        :list="futureCompetitions"
      />

      <Calendar
        v-if="pastCompetitions.length > 0"
        title="Compétitions passées"
        :list="pastCompetitions"
      />
    </template>

    <FloatingButton
      v-if="isRole.admin"
      :click-handler="displayForm"
      icon="ui-add"
      :class="{ animate: competitions.length === 0 }"
    />

    <CompetitionForm v-if="isRole.admin" v-model="showCompetitionForm" />
  </div>
</template>

<script>
import { orderBy, filter } from 'lodash-es'
import { startOfToday } from 'date-fns'

import Calendar from './Calendar'
import Quote from '@/components/ui/Quote'
import CompetitionForm from './CompetitionForm'
import FloatingButton from '@/components/ui/FloatingButton'

export default {
  name: 'Competitions',

  components: { Quote, FloatingButton, Calendar, CompetitionForm },

  data: () => {
    return {
      showCompetitionForm: false
    }
  },

  computed: {
    competitions() {
      return this.$store.state.competitions
    },

    // Competitions for today and future
    futureCompetitions() {
      return orderBy(
        filter(this.competitions, c => c.date >= startOfToday().getTime()),
        ['date'],
        ['asc']
      )
    },

    // Competitions older than today
    pastCompetitions() {
      return orderBy(
        filter(this.competitions, c => c.date < startOfToday().getTime()),
        ['date'],
        ['desc']
      )
    }
  },

  created() {
    this.$store.commit('setTitle', `Calendrier`)
  },

  methods: {
    displayForm() {
      this.showCompetitionForm = true
    }
  }
}
</script>
