<template>
  <BModal v-model="showModal" centered hide-header @hidden="reset">
    <form>
      <div class="form-group">
        <label for="name">Compétition</label>
        <input
          id="name"
          v-model="name"
          type="text"
          class="form-control"
          autofocus
          :disabled="!!edit.id"
        />
      </div>

      <div class="form-row">
        <div class="form-group col-12 col-md-6">
          <label for="place">Lieu</label>
          <input id="place" v-model="place" type="text" class="form-control" />
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="date">Date</label>
          <input id="date" v-model="date" type="date" class="form-control" :disabled="!!edit.id" />
        </div>
      </div>

      <div class="form-group">
        <label for="scheduleFile" class="d-block">Horaires</label>
        <input
          id="scheduleFile"
          ref="scheduleFile"
          type="file"
          accept="image/*"
          @change="handleScheduleFileChange()"
        />
      </div>
    </form>

    <div v-if="error" class="mt-3 text-center text-primary">
      <small>Veuillez remplir correctement le formulaire.</small>
    </div>

    <div
      slot="modal-footer"
      class="w-100 text-right d-flex justify-content-between align-items-center"
    >
      <icon
        :class="{ invisible: !edit.id }"
        class="float-left text-white cursor-pointer p-2"
        icon="ui-delete"
        size="1x"
        @click.native="deleteCompetition"
      />
      <div>
        <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
        <button class="btn btn-primary" @click="saveCompetition">Enregistrer</button>
      </div>
    </div>
  </BModal>
</template>

<script>
import { BModal } from 'bootstrap-vue'
import format from 'date-fns/format'
import config from '@/configuration/config'

export default {
  name: 'CompetitionForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      showModal: false,
      error: false,
      // Form
      name: '',
      place: '',
      date: '',
      schedule: '',
      scheduleFile: null
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm

      if (this.edit && this.edit.id) {
        this.name = this.edit.name
        this.place = this.edit.place
        this.date = format(this.edit.date, 'yyyy-MM-dd')
        this.schedule = this.edit.schedule
      }
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.error = false

      this.name = ''
      this.place = ''
      this.date = ''
      this.schedule = ''
      this.scheduleFile = null
    },

    closeModal() {
      this.showModal = false
      this.$emit('close')
      this.reset()
    },

    handleScheduleFileChange() {
      this.scheduleFile = this.$refs.scheduleFile.files[0]
    },

    saveCompetition() {
      if (!this.name || !this.date) {
        this.error = true
        return
      }

      const date = new Date(this.date).getTime()
      const competition = {
        name: this.name,
        place: this.place,
        date,
        schedule: this.scheduleFile
          ? config.db.collections.competitions +
            '/' +
            format(date, 'yyyy-MM-dd') +
            '-' +
            this.name
              .toLowerCase()
              .split(' ')
              .join('-') +
            '.jpg'
          : this.schedule
      }

      if (this.edit.id) {
        this.$db.patchCompetition(this.edit.id, competition, this.scheduleFile)
        this.$emit('edit')
      } else {
        this.$db.addCompetition(competition, this.scheduleFile)
      }

      this.closeModal()
    },

    deleteCompetition() {
      this.$db.deleteCompetition(this.edit)

      // Redirect to list
      this.$router.replace('/competitions')
    }
  }
}
</script>
