<template>
  <Quote
    v-if="!isRole.admin && !isRole.coach"
    title="Vous n'avez rien à faire ici... Mais voici une petite citation avant que vous changiez de page :"
  />

  <div v-else id="administration">
    <h4>Gestion des données</h4>

    <div class="my-3 px-3">
      <router-link to="/admin/minima/indoor" tag="a" class="btn btn-sm btn-primary mr-3">
        Minima en salle
      </router-link>
      <router-link to="/admin/minima/outdoor" tag="a" class="btn btn-sm btn-primary">
        Minima en extérieur
      </router-link>
    </div>

    <h4 v-if="isRole.admin">Suppression des données</h4>

    <div v-if="isRole.admin" class="my-3 px-3">
      <ButtonConfirm :on-confirm="deleteAllPlans" :label="nbPlans" />
      <ButtonConfirm :on-confirm="deleteAllCompetitions" :label="nbCompetitions" />
    </div>
  </div>
</template>

<script>
import Quote from '@/components/ui/Quote'
import ButtonConfirm from '@/components/ui/ButtonConfirm'

export default {
  name: 'Admin',

  components: { Quote, ButtonConfirm },

  computed: {
    nbPlans() {
      return this.plural('plan', this.$store.state.plans.length) + " d'entrainements"
    },
    nbCompetitions() {
      return this.plural('compétition', this.$store.state.competitions.length)
    }
  },

  created() {
    this.$store.commit('setTitle', 'Administration')
    this.$store.commit('setBack', false)
  },

  methods: {
    plural(label, count) {
      if (count > 1) label += 's'
      return `${count} ${label}`
    },

    deleteAllPlans() {
      this.$store.state.plans.forEach(plan => this.$db.deletePlan(plan.id))
    },

    deleteAllCompetitions() {
      this.$store.state.competitions.forEach(compet => this.$db.deleteCompetition(compet))
    }
  }
}
</script>
