<template>
  <Quote
    v-if="!isRole.admin && !isRole.coach"
    title="Vous n'avez rien à faire ici... Mais voici une petite citation avant de changer de page :"
  />

  <div v-else id="minima">
    <div class="d-lg-none text-center font-italic pt-5">
      L'édition des minima n'est disponible que sur PC à l'addresse
      <span class="text-primary">http://tbas.finrod.info</span>
    </div>

    <div class="d-none d-lg-block">
      <template v-for="c in competitions">
        <h5 :key="c.label" class="text-primary">{{ c.label }}</h5>
        <table :key="c.code" class="table table-striped table-dark table-sm">
          <thead>
            <tr>
              <th />
              <th v-for="e in events" :key="e.code" class="text-center">{{ e.label }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="cat in categories" :key="cat">
              <td>{{ cat }}</td>
              <td v-for="e in events" :key="`${e.code}-${cat}`">
                <div
                  :class="
                    (e.code === '100h' && cat.indexOf('M') !== -1) ||
                    (e.code === '110h' && cat.indexOf('F') !== -1)
                      ? 'd-none'
                      : 'd-flex'
                  "
                >
                  <input
                    :id="`${c.code}-${cat}-${e.code}-perf`"
                    :ref="`${c.code}-${cat}-${e.code}-perf`"
                    type="text"
                    :value="findMinima(c.code, cat, e.code).performance"
                    class="form-control form-control-sm"
                  />
                  <input
                    :id="`${c.code}-${cat}-${e.code}-places`"
                    :ref="`${c.code}-${cat}-${e.code}-places`"
                    type="text"
                    :value="findMinima(c.code, cat, e.code).places"
                    class="form-control form-control-sm"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </template>

      <div class="text-right">
        <span v-if="isSaved" class="text-primary font-italic mr-3">Minima sauvegardés</span>
        <button class="btn btn-primary" @click="setMinima">
          <template v-if="!isLoading">
            Enregistrer
          </template>
          <Spinner v-else class="my-1" color="secondary" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Flat JSON to use firestore queries
 * https://firebase.google.com/docs/firestore/query-data/queries?authuser=0#simple_queries
 * type: indoor/outdoor
 * competition: reg/ireg/nat
 * category
 * event
 * performance
 * places
 */

import { filter } from 'lodash-es'
import config from '@/configuration/config'
import Quote from '@/components/ui/Quote'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'Minima',

  components: { Quote, Spinner },

  props: {
    type: {
      type: String,
      required: true
    }
  },

  data: () => {
    return {
      isLoading: false,
      isSaved: false,
      minima: []
    }
  },

  computed: {
    categories: () => config.minima.categories,
    competitions: () => config.minima.competitions,
    indoorEvents: () => filter(config.minima.events, 'indoor'),
    outdoorEvents: () => filter(config.minima.events, 'outdoor'),
    events() {
      return this.type === 'indoor' ? this.indoorEvents : this.outdoorEvents
    }
  },

  created() {
    const type = this.type === 'indoor' ? 'en salle' : 'en extérieur'
    this.$store.commit('setTitle', `Minima ${type}`)
    this.$store.commit('setBack', true)

    this.getMinima()
  },

  destroyed() {
    this.$store.commit('setBack', false)
  },

  methods: {
    async getMinima() {
      this.minima = await this.$db.getMinimaByType(this.type)
    },

    findMinima(competition, category, event) {
      const m = this.minima.find(
        m => m.competition === competition && m.category === category && m.event === event
      )
      return m || {}
    },

    async setMinima() {
      // Loop througt competition, category, event
      const minima = []

      for (const c of this.competitions) {
        for (const cat of this.categories) {
          for (const e of this.events) {
            const performance = this.$refs[`${c.code}-${cat}-${e.code}-perf`][0].value
            const places = this.$refs[`${c.code}-${cat}-${e.code}-places`][0].value

            minima.push({
              type: this.type,
              competition: c.code,
              category: cat,
              event: e.code,
              performance,
              places
            })
          }
        }
      }

      this.isLoading = true
      await this.$db.patchMinima(minima)

      // Just 500ms to show spinner :D
      setTimeout(() => {
        this.isLoading = false

        // Display a "Saved" message
        this.isSaved = true
        setTimeout(() => {
          this.isSaved = false
        }, 2000)
      }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
.table > tbody > tr > td {
  white-space: nowrap;
  vertical-align: middle;

  .form-control-sm {
    width: 49%;
    height: calc(1em + 0.5rem + 2px);
    padding: 0 0.5rem;
    text-align: center;

    &:first-child {
      margin-right: 2%;
    }
  }
}
</style>
