// override styles

html,
body,
.sidebar,
.navbar,
.navbar .links {
	background-color: #2B3E50 !important;
}

.home .hero .action a {
	color: #4E5D6C;
}

.news {
	h2 {
		font-size: 1.2rem;
	}

	blockquote {
		font-size: .9rem;
		border-left: .1rem solid #efea3a;
		padding-left: .5rem;
		margin-bottom: 0;
	}

	ul {
		list-style: none;
		padding-left: 0;
		font-size: .9rem;
	}
}
