<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Official application of the Team Bac à Sable">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- iPhone 5 (640px x 1136px) -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>img/splash/apple_splash_640.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>img/splash/apple_splash_750.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPhone X (1125px x 2436px) -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>img/splash/apple_splash_1125.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)">
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>img/splash/apple_splash_1242.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)">
    <!-- iPad Mini, Air (1536px x 2048px) -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>img/splash/apple_splash_1536.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPad Pro 10.5" (1668px x 2224px) -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>img/splash/apple_splash_1668.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPad Pro 12.9" (2048px x 2732px) -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>img/splash/apple_splash_2048.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)">

    <title>Team Bac à Sable</title>
  </head>
  <body>
    <noscript>
      <strong>Nous avons besoin de JavaScript pour jouer dans le sable, merci de l'activer pour continuer.</strong>
    </noscript>
    <div id="app" />
    <!-- built files will be auto injected -->
  </body>
</html>
