<template>
  <div>
    <MdViewer :text="joMenut2018" />
  </div>
</template>

<script>
import joMenut2018 from '@/content/joMenut2018.md'
const MdViewer = () => import(/* webpackChunkName: "ui-mdviewer" */ '@/components/ui/MdViewer')

export default {
  name: 'JoMenut2018',

  components: { MdViewer },

  computed: {
    joMenut2018() {
      return joMenut2018
    }
  },

  created() {
    this.$store.commit('setTitle', 'Challenge Jo Menut 2018')
  }
}
</script>
