<template>
  <nav
    :class="$store.state.title ? 'bg-secondary' : 'bg-transparent'"
    class="navbar fixed-top navbar-dark justify-content-between px-md-5"
  >
    <icon
      v-if="!$store.state.leftButton"
      :class="{ invisible: !$store.state.back }"
      icon="simple-left"
      class="cursor-pointer d-md-none"
      @click.native="$router.go(-1)"
    />
    <icon
      v-else
      :icon="$store.state.leftButton.icon"
      class="cursor-pointer d-md-none"
      @click.native="$router.push({ path: $store.state.leftButton.route })"
    />

    <span class="navbar-brand">{{ $store.state.title }}</span>

    <icon
      id="openSidebar"
      class="cursor-pointer d-md-none"
      icon="navigation-menu"
      @click.native="openSidebar"
    />

    <div class="d-none d-md-flex align-items-center">
      <icon
        v-if="$store.state.leftButton"
        :icon="$store.state.leftButton.icon"
        class="cursor-pointer mr-4"
        @click.native="$router.push({ path: $store.state.leftButton.route })"
      />

      <router-link
        v-if="$store.state.title && $store.state.user"
        :to="'/athletes/' + $store.state.user.uid"
        class="d-flex align-items-center page-link"
      >
        <Avatar
          v-if="$store.state.userData.firstName"
          :username="$store.state.userData.firstName"
          size="md"
          class="mr-2"
        />
        {{ $store.state.userData.firstName }}
      </router-link>
    </div>
  </nav>
</template>

<script>
import Avatar from '@/components/ui/Avatar'

export default {
  name: 'Navbar',

  components: { Avatar },

  methods: {
    openSidebar() {
      this.$emit('open-sidebar')
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.navbar {
  height: 3rem;
  box-shadow: 0 0 1rem $body-bg;

  @media (min-width: $grid-breakpoint-md) {
    margin-left: 200px;
  }
}
</style>
