<template>
  <aside v-click-outside="closeSidebar" :class="{ visible }" class="sidebar bg-secondary m-0">
    <router-link
      to="/"
      tag="div"
      class="mb-4 p-3 nav-logo cursor-pointer"
      @click.native="closeSidebar"
    >
      <img src="~@/img/logo.png" alt="Logo" />
    </router-link>
    <router-link to="/" tag="nav" class="nav-home" @click.native="closeSidebar">
      <a class="d-block px-3 py-2 w-100">Accueil</a>
    </router-link>

    <template v-for="menuItem in menu">
      <router-link
        v-if="menuItem.auth && !!user && user.emailVerified"
        :key="menuItem.label"
        :to="menuItem.route"
        tag="nav"
        @click.native="closeSidebar"
      >
        <a class="d-block px-3 py-2 w-100">{{ menuItem.label }}</a>
      </router-link>
    </template>

    <hr />

    <router-link v-if="!!user" :to="'/athletes/' + user.uid" tag="nav" @click.native="closeSidebar">
      <a class="d-block px-3 py-2 w-100">Profil</a>
    </router-link>
    <router-link v-if="isRole.admin" to="/admin" tag="nav" @click.native="closeSidebar">
      <a class="d-block px-3 py-2 w-100">Administration</a>
    </router-link>
    <nav v-if="!!user">
      <a class="d-block px-3 py-2 w-100 cursor-pointer" @click="logout">Se déconnecter</a>
    </nav>

    <router-link v-if="!user" to="/login" tag="nav" @click.native="closeSidebar">
      <a class="d-block px-3 py-2 w-100">Se connecter</a>
    </router-link>
    <router-link v-if="!user" to="/register" tag="nav" @click.native="closeSidebar">
      <a class="d-block px-3 py-2 w-100">S'inscrire</a>
    </router-link>
  </aside>
</template>

<script>
import config from '@/configuration/config'

import vClickOutside from 'v-click-outside'

export default {
  name: 'Sidebar',

  directives: {
    clickOutside: vClickOutside.directive
  },

  model: {
    prop: 'visible',
    event: 'change'
  },

  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    menu() {
      return config.menu
    },

    user() {
      return this.$store.state.user
    }
  },

  methods: {
    closeSidebar(e) {
      if (e.target && e.target.id === 'openSidebar') return false
      if (this.visible) this.$emit('change', false)
    },

    logout() {
      this.$auth.logout().then(() => {
        this.$router.replace('/login')
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.sidebar {
  position: fixed;
  top: 0;
  right: -210px;
  bottom: 0;
  z-index: 1040;
  width: 200px;
  padding: 0;
  overflow-y: auto;
  list-style: none;
  border-right: none;
  border-left: 1px solid $primary;
  transition: all 0.3s;

  @media (min-width: $grid-breakpoint-md) {
    top: 0;
    left: 0;
    border-right: 1px solid $primary;
    border-left: none;
  }

  &.visible {
    right: 0;
  }

  .nav-logo {
    display: none;

    @media (min-height: 500px) {
      display: block;
    }
  }

  img {
    width: 100%;
  }

  .nav-home {
    display: block;

    @media (min-height: 500px) {
      display: none;
    }
  }

  nav {
    a,
    a:active {
      color: $white;
    }

    a:hover {
      color: $primary;
      text-decoration: none;
    }

    &.router-link-exact-active {
      background: $primary;

      a,
      a:active {
        color: $secondary;
      }

      a:hover {
        color: $secondary;
      }
    }
  }

  hr {
    border-top: 1px solid $body-bg;
  }
}
</style>
