<template>
  <div v-if="!isLoading">
    <div class="mb-3">
      <button
        class="btn btn-filter mr-3"
        :class="{ active: sortMode === 'alpha' }"
        @click="sortMode = 'alpha'"
      >
        Prénom
      </button>
      <button
        class="btn btn-filter"
        :class="{ active: sortMode === 'birthday' }"
        @click="sortMode = 'birthday'"
      >
        Anniversaire
      </button>
    </div>

    <ul class="list-group">
      <router-link
        v-for="u in sortedUsers"
        :key="u.id"
        :to="'/athletes/' + u.id"
        class="list-group-item list-group-item-action px-3 d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center w-50">
          <Avatar v-if="u.firstName" :username="u.firstName" size="md" class="mr-2" />
          {{ u.firstName }}
        </div>

        <small v-if="sortMode !== 'alpha'" class="w-50 text-left">
          {{ u | birthday }}
        </small>

        <small v-if="sortMode === 'alpha'" class="w-25 text-center">
          {{ u.category && u.category !== '-' ? u.category + u.gender : '-' }}
        </small>
        <div v-if="sortMode === 'alpha'" class="w-25 text-right">
          <span v-if="u.role === 'coach'" class="badge badge-primary">coach</span>
          <span v-if="isRole.admin && !u.ffaId" class="badge badge-danger ml-1">Id FFA</span>
        </div>
      </router-link>
    </ul>
  </div>

  <Spinner v-else class="pt-5" />
</template>

<script>
import { orderBy } from 'lodash-es'
import { differenceInCalendarDays } from 'date-fns'

import Avatar from '@/components/ui/Avatar'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'Athletes',

  components: { Avatar, Spinner },

  data() {
    return {
      users: [],
      isLoading: true,
      // Sorting mode
      sortMode: 'alpha',
      sortIcon: 'birthday-cake'
    }
  },

  computed: {
    sortedUsers() {
      // Calculate days left before birthday
      const users = this.users.map(u => ({ ...u, ...this.calculateNextBirthday(u) }))

      if (this.sortMode === 'alpha') {
        return orderBy(users, ['firstName'])
      } else {
        return orderBy(users, ['daysLeftBeforeBirthday'])
      }
    }
  },

  created() {
    this.$store.commit('setTitle', 'Athlètes')
    this.getUsers()
  },

  methods: {
    async getUsers() {
      this.isLoading = true
      this.users = await this.$db.getUsers()

      // Just 500ms to show spinner :D
      setTimeout(() => {
        this.isLoading = false
      }, 500)
    },

    toggleSort() {
      this.sortMode = this.sortMode === 'alpha' ? 'date' : 'alpha'
      this.sortIcon = this.sortMode === 'alpha' ? 'birthday-cake' : 'users-alt-3'
    },

    calculateNextBirthday(user) {
      if (user.birthday) {
        let day = user.birthday.split('/')[0]
        let month = user.birthday.split('/')[1]

        let nextBirthday = new Date(new Date().getFullYear(), Number(month) - 1, day)
        let daysLeftBeforeBirthday = differenceInCalendarDays(nextBirthday, Date.now())

        if (daysLeftBeforeBirthday < 0) {
          nextBirthday = new Date(new Date().getFullYear() + 1, Number(month) - 1, day)
          daysLeftBeforeBirthday = differenceInCalendarDays(nextBirthday, Date.now())
        }

        return {
          nextBirthday,
          daysLeftBeforeBirthday
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/scss/variables';

.btn-filter {
  padding: 0.2rem;
  font-size: 0.9rem;
  color: $gray-300;
  border-bottom: 2px solid transparent;

  &:focus {
    box-shadow: none;
  }

  &.active {
    border-bottom: 2px solid $primary;
  }
}
</style>
