<template>
  <div v-if="!isLoading" id="athlete">
    <div class="text-center">
      <Avatar v-if="user.firstName" :username="user.firstName" size="xl" class="mx-auto mb-3" />
      <h2 class="m-0">{{ user.firstName }}</h2>

      <small v-if="user.category && user.category !== '-'" class="font-italic">
        {{ user.category + user.gender }} - {{ user.license }}
      </small>
    </div>

    <div class="text-center m-5">
      <a v-if="user.ffaId" :href="resultsUrl" target="_blank" class="btn btn-primary mr-5">
        Résultats
      </a>
      <a v-if="user.ffaId" :href="pbUrl" target="_blank" class="btn btn-primary">Records</a>
    </div>

    <template v-if="isRole.coach">
      <h4 v-if="userMarks.length > 0">Marques de sauts</h4>
      <div v-if="userMarks.length > 0" class="bg-secondary px-3 py-1 mb-3">
        <table class="w-100">
          <tbody>
            <tr v-for="m in userMarks" :key="m.id">
              <td>{{ m.label }}</td>
              <td>{{ m.strides }} foulées {{ m.preDash ? 'avec' : 'sans' }} pré-élan</td>
              <td class="text-right">{{ m.marks.join(' / ') }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 v-if="userBodyMaxes.length > 0">Max en musculation</h4>
      <div v-if="userBodyMaxes.length > 0" class="bg-secondary px-3 py-1 mb-3">
        <table class="w-100">
          <tbody>
            <tr v-for="b in userBodyMaxes" :key="b.id">
              <td>{{ b.label }}</td>
              <td class="text-right">{{ b.maxWeight }}kg</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>

    <FloatingButton v-if="isRole.admin" :click-handler="displayForm" icon="ui-edit" />

    <AthleteForm v-model="showAthleteForm" :edit="athleteToEdit" @user-saved="getUser" />
  </div>

  <Spinner v-else class="pt-5" />
</template>

<script>
import Avatar from '@/components/ui/Avatar'
import FloatingButton from '@/components/ui/FloatingButton'
import AthleteForm from './AthleteForm'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'Athlete',

  components: { Avatar, Spinner, FloatingButton, AthleteForm },

  props: {
    uid: {
      type: String,
      required: true
    }
  },

  data() {
    return {
      isLoading: true,
      user: {},
      userBodyMaxes: [],
      userMarks: [],
      showAthleteForm: false,
      athleteToEdit: {}
    }
  },

  computed: {
    resultsUrl() {
      const year = new Date().getFullYear()
      return `https://bases.athle.fr/asp.net/athletes.aspx?base=resultats&seq=${this.user.ffaId}&saison=${year}`
    },

    pbUrl() {
      return `https://bases.athle.fr/asp.net/athletes.aspx?base=records&seq=${this.user.ffaId}`
    }
  },

  watch: {
    uid() {
      this.loadPage()
    },

    isRole() {
      this.getUserData()
    }
  },

  created() {
    this.$store.commit('setTitle', '')
    this.$store.commit('setBack', true)
    this.loadPage()
  },

  destroyed() {
    this.$store.commit('setBack', false)
  },

  methods: {
    async loadPage() {
      this.isLoading = true
      await this.getUser()

      // Just 500ms to show spinner :D
      setTimeout(() => {
        this.isLoading = false
      }, 500)
    },

    async getUser() {
      this.user = await this.$db.getUser(this.uid)
      this.getUserData()
    },

    async getUserData() {
      if (this.isRole.coach) {
        this.userBodyMaxes = await this.$db.getBodyMaxes(this.uid)
        this.userMarks = await this.$db.getMarks(this.uid)
      }
    },

    displayForm() {
      this.showAthleteForm = true
      this.athleteToEdit = { uid: this.uid, ...this.user }
    }
  }
}
</script>
