<template>
  <BModal v-model="showModal" centered hide-header @hidden="reset">
    <form>
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input id="firstName" v-model="firstName" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label for="ffaId">FFA ID</label>
        <input id="ffaId" v-model="ffaId" type="text" class="form-control" />
      </div>

      <div v-if="edit.uid !== $store.state.user.uid" class="form-group">
        <label for="role">Role</label>
        <select id="role" v-model="role" class="form-control">
          <option value="user">Utilisateur</option>
          <option value="coach">Entraineur</option>
          <option value="admin">Administrateur</option>
        </select>
      </div>
    </form>

    <div slot="modal-footer" class="w-100 text-right">
      <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
      <button class="btn btn-primary" @click="saveAthlete">Enregistrer</button>
    </div>
  </BModal>
</template>

<script>
import { BModal } from 'bootstrap-vue'

export default {
  name: 'AthleteForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      showModal: false,
      // Form
      firstName: '',
      ffaId: '',
      role: ''
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm

      if (this.edit) {
        this.firstName = this.edit.firstName
        this.ffaId = this.edit.ffaId
        this.role = this.edit.role
      }
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.firstName = ''
      this.ffaId = ''
      this.role = ''
    },

    closeModal() {
      this.showModal = false
      this.reset()
    },

    saveAthlete() {
      const user = {
        firstName: this.firstName,
        ffaId: this.ffaId,
        role: this.role
      }

      this.$db.patchUser(this.edit.uid, user)
      this.closeModal()
      this.$emit('user-saved')
    }
  }
}
</script>
