<template>
  <div class="card border border-primary mb-3">
    <div class="card-header bg-primary text-secondary d-flex justify-content-between">
      <span>{{ title }}</span>
    </div>

    <div class="card-body">
      <div v-if="minimaByCompetition.length === 0" class="text-center font-italic">
        Minima non disponibles
      </div>

      <ul v-else class="list-group list-group-flush">
        <li
          v-for="m in minimaByCompetition"
          :key="m.label"
          class="list-group-item p-0 d-flex justify-content-between"
        >
          <div>{{ m.label }}</div>
          <div class="text-center">{{ m.performance }}</div>
          <div class="text-right">{{ m.places }} places</div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { filter } from 'lodash-es'
import config from '@/configuration/config'

export default {
  name: 'MinimaPanel',

  props: {
    title: {
      type: String,
      required: true
    },
    minima: {
      type: Array,
      required: true
    },
    competition: {
      type: String,
      required: true
    }
  },

  computed: {
    events() {
      return config.minima.events
    },

    minimaByCompetition() {
      const minimaByCompetition = []
      const filteredMinima = filter(this.minima, ['competition', this.competition])

      for (const e of this.events) {
        const minima = filteredMinima.find(m => m.event === e.code)

        minimaByCompetition.push({
          label: e.label,
          performance: minima ? minima.performance : '',
          places: minima ? minima.places : ''
        })
      }

      return filter(minimaByCompetition, m => m.performance !== '' || m.places !== '')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/scss/variables';

.list-group-item > div {
  flex: 1;
}
</style>
