<template>
  <div>
    <div class="d-flex mb-3">
      <select id="type" v-model="typeFilter" class="form-control form-control-sm mr-3">
        <option value="indoor">En salle</option>
        <option value="outdoor">En extérieur</option>
      </select>

      <select id="category" v-model="categoryFilter" class="form-control form-control-sm">
        <option v-for="c in categories" :key="c" :value="c">{{ c }}</option>
      </select>
    </div>

    <Spinner v-if="isLoading" />

    <div v-else>
      <MinimaPanel title="Championnats de Bretagne" :minima="minima" competition="REG" />
      <MinimaPanel title="Championnats Pré-France" :minima="minima" competition="PRE" />
      <MinimaPanel title="Championnats de France" :minima="minima" competition="NAT" />
    </div>
  </div>
</template>

<script>
import config from '@/configuration/config'

import Spinner from '@/components/ui/Spinner'
import MinimaPanel from './MinimaPanel'

export default {
  name: 'Minima',

  components: { Spinner, MinimaPanel },

  data() {
    return {
      isLoading: false,
      typeFilter: '',
      categoryFilter: '',
      minima: []
    }
  },

  computed: {
    categories() {
      return config.minima.categories
    }
  },

  watch: {
    typeFilter() {
      this.getMinimaByTypeAndCategory()
    },
    categoryFilter() {
      this.getMinimaByTypeAndCategory()
    }
  },

  created() {
    this.$store.commit('setTitle', 'Minima')

    // By default, filter to current user category
    this.categoryFilter =
      this.$store.state.userData.category + this.$store.state.userData.gender || 'CAF'

    // By default, indoor from october to march, outdoor from april to september
    const currentMonth = new Date().getMonth()
    if (currentMonth > 8 || currentMonth < 3) this.typeFilter = 'indoor'
    else this.typeFilter = 'outdoor'

    this.getMinimaByTypeAndCategory()
  },

  methods: {
    async getMinimaByTypeAndCategory() {
      this.isLoading = true

      this.minima = await this.$db.getMinimaByTypeAndCategory(this.typeFilter, this.categoryFilter)

      setTimeout(() => {
        this.isLoading = false
      }, 500)
    }
  }
}
</script>
