<template>
  <BModal v-model="showModal" centered hide-header @hidden="reset">
    <form>
      <div class="form-group">
        <label for="jump">Saut</label>
        <select id="jump" v-model="jump" :disabled="edit.id" class="form-control">
          <option v-for="j in jumps" :key="j.code" :value="j.code">
            {{ j.label }}
          </option>
        </select>
      </div>

      <div class="form-row">
        <div :class="jump === 'pv' ? 'col-4' : 'col-6'" class="form-group">
          <label for="strides">Nombre de foulées</label>
          <input
            id="strides"
            v-model="strides"
            :disabled="edit.id"
            type="number"
            class="form-control"
          />
        </div>

        <div :class="jump === 'pv' ? 'col-4' : 'col-6'" class="form-group">
          <label for="preDash">Pré-élan</label>
          <select id="preDash" v-model="preDash" :disabled="edit.id" class="form-control">
            <option :value="false">Sans</option>
            <option :value="true">Avec</option>
          </select>
        </div>

        <div v-if="jump === 'pv'" :class="jump === 'pv' ? 'col-4' : 'col-6'" class="form-group">
          <label for="pvType">Type de perche</label>
          <input id="pvType" v-model="pvType" type="text" class="form-control" />
        </div>
      </div>

      <h6>Marques</h6>
      <div class="form-row">
        <div class="form-group col-4">
          <label for="inter1" class="d-block d-sm-none">Inter. 1</label>
          <label for="inter1" class="d-none d-sm-block">Intermédiaires 1</label>
          <input id="inter1" v-model="inter1" type="text" class="form-control" />
        </div>
        <div class="form-group col-4">
          <label for="inter2" class="d-block d-sm-none">Inter. 2</label>
          <label for="inter2" class="d-none d-sm-block">Intermédiaires 2</label>
          <input id="inter2" v-model="inter2" type="text" class="form-control" />
        </div>
        <div class="form-group col-4">
          <label for="full">Complètes</label>
          <input id="full" v-model="full" type="text" class="form-control" />
        </div>
      </div>
      <small class="form-text text-muted">
        Si vous n'avez pas de marques intermédiaires, remplissez seulement les marques complètes.
      </small>
    </form>

    <div v-if="error" class="mt-3 text-center text-primary">
      <small>Veuillez remplir correctement le formulaire.</small>
    </div>

    <div
      slot="modal-footer"
      class="w-100 text-right d-flex justify-content-between align-items-center"
    >
      <icon
        :class="{ invisible: !edit.id }"
        class="float-left text-white cursor-pointer p-2"
        icon="ui-delete"
        size="1x"
        @click.native="deleteMark"
      />
      <div>
        <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
        <button class="btn btn-primary" @click="saveMark">Enregistrer</button>
      </div>
    </div>
  </BModal>
</template>

<script>
import { BModal } from 'bootstrap-vue'
import config from '@/configuration/config'

export default {
  name: 'MarksForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      showModal: false,
      error: false,
      // Form
      jump: 'lj',
      strides: '',
      preDash: false,
      pvType: '',
      inter1: '',
      inter2: '',
      full: ''
    }
  },

  computed: {
    jumps() {
      return config.jumps
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm
      // Preselect current displayed jump
      this.jump = this.edit.jump

      if (this.edit && this.edit.id) {
        this.strides = this.edit.strides
        this.preDash = this.edit.preDash
        this.pvType = this.edit.pvType || ''

        switch (this.edit.marks.length) {
          case 1:
            this.inter1 = ''
            this.inter2 = ''
            this.full = this.edit.marks[0]
            break
          case 2:
            this.inter1 = this.edit.marks[0]
            this.inter2 = ''
            this.full = this.edit.marks[1]
            break
          case 3:
            this.inter1 = this.edit.marks[0]
            this.inter2 = this.edit.marks[1]
            this.full = this.edit.marks[2]
            break
        }
      }
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.error = false
      this.jump = 'lj'
      this.strides = ''
      this.preDash = false
      this.pvType = ''
      this.inter1 = ''
      this.inter2 = ''
      this.full = ''
    },

    closeModal() {
      this.showModal = false
      this.reset()
    },

    saveMark() {
      if (!this.strides || !this.full) {
        this.error = true
        return
      }

      const marks = {
        jump: this.jump,
        strides: this.strides,
        preDash: this.preDash,
        pvType: this.pvType,
        marks: [this.inter1, this.inter2, this.full]
      }

      if (this.edit.id) {
        this.$db.patchMark(this.edit.id, marks)
      } else {
        this.$db.addMark(marks)
      }

      this.closeModal()
    },

    deleteMark() {
      this.$db.deleteMark(this.edit.id)

      this.closeModal()
    }
  }
}
</script>
