<template>
  <div>
    <ul class="nav nav-pills nav-fill mb-4">
      <li v-for="j in jumps" :key="j.code" class="nav-item">
        <a
          :class="{ active: jump === j.code }"
          class="nav-link px-1"
          href
          @click.prevent="jump = j.code"
          >{{ j.label }}</a
        >
      </li>
    </ul>

    <Quote v-if="!marks" title="A défaut de sauter, tu vas rire..." />

    <div
      v-for="(s, strides) in marks"
      v-else
      :key="strides"
      class="d-flex align-items-stretch mb-3"
    >
      <div class="strides d-flex flex-column justify-content-center align-items-center mr-3">
        <span>{{ strides }}</span>
        <small>foulées</small>
      </div>
      <div class="d-flex flex-column align-self-center flex-grow-1">
        <div v-for="(m, i) in s" :key="i" class="d-flex align-items-center">
          <span class="flex-grow-1">
            <span>{{ m.preDash ? 'Avec' : 'Sans' }} pré-élan :</span>
            <span class="ml-1 text-primary">{{ m.marks.join(' / ') }}</span>

            <span v-if="m.pvType" class="d-none d-md-inline ml-3 text-white">Perche : </span>
            <span v-if="m.pvType" class="d-none d-md-inline ml-1 text-primary">{{ m.pvType }}</span>
            <span v-if="m.pvType" class="d-md-none ml-3 text-white">({{ m.pvType }})</span>
          </span>
          <icon
            class="text-dark cursor-pointer"
            icon="ui-edit"
            size="1x"
            @click.native.stop="displayForm(m)"
          />
        </div>
      </div>
    </div>

    <FloatingButton :click-handler="displayForm" icon="ui-add" :class="{ animate: !marks }" />

    <MarksForm v-model="showMarksForm" :edit="marksToEdit" />
  </div>
</template>

<script>
import { filter, orderBy, groupBy, without, isEmpty } from 'lodash-es'
import config from '@/configuration/config'
import Quote from '@/components/ui/Quote'
import FloatingButton from '@/components/ui/FloatingButton'
import MarksForm from './MarksForm'

export default {
  name: 'Marks',

  components: { Quote, FloatingButton, MarksForm },

  data() {
    return {
      jump: 'lj',
      allMarks: [],
      showMarksForm: false,
      marksToEdit: {}
    }
  },

  computed: {
    jumps() {
      return config.jumps
    },

    marks() {
      // Sort...
      const allMarks = orderBy(
        this.$store.state.userMarks,
        ['strides', 'preDash'],
        ['desc', 'desc']
      )
      // and filter by jump
      // and remove empty marks
      const filtered = filter(allMarks, mark => mark.jump === this.jump).map(mark => {
        mark.marks = without(mark.marks, '')
        return mark
      })
      if (filtered.length === 0) return null
      return groupBy(filtered, 'strides')
    }
  },

  created() {
    this.$store.commit('setTitle', 'Marques')
  },

  methods: {
    displayForm(marks = {}) {
      // Preselect current displayed jump
      if (isEmpty(marks)) marks.jump = this.jump

      this.showMarksForm = true
      this.marksToEdit = marks
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.strides {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  line-height: 0.8em;
  color: $secondary;
  background: $primary;
  border-radius: 50%;

  small {
    font-size: 0.4em;
    line-height: 1.6em;
  }
}
</style>
