<template>
  <BModal v-model="showModal" centered hide-header @hidden="reset">
    <form>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes" v-model="notes" class="form-control" rows="10" />
      </div>
    </form>

    <div slot="modal-footer" class="w-100 text-right">
      <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
      <button class="btn btn-primary" @click="setNotes">Enregistrer</button>
    </div>
  </BModal>
</template>

<script>
import { BModal } from 'bootstrap-vue'

export default {
  name: 'NotesForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      showModal: false,
      // Form
      notes: ''
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm

      if (this.edit) {
        this.notes = this.edit
      }
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.notes = ''
    },

    closeModal() {
      this.showModal = false
      this.reset()
    },

    setNotes() {
      this.$db.patchNotes(this.notes)

      this.closeModal()
    }
  }
}
</script>
