<template>
  <div>
    <Quote v-if="!notes" title="Pas de note ? Voici une petite citation dans ce cas !" />

    <MdViewer v-else :text="notes" />

    <FloatingButton :click-handler="displayForm" icon="ui-edit" :class="{ animate: !notes }" />

    <NotesForm v-model="showNoteForm" :edit="notesToEdit" />
  </div>
</template>

<script>
import FloatingButton from '@/components/ui/FloatingButton'
import Quote from '@/components/ui/Quote'
import NotesForm from './NotesForm'
const MdViewer = () => import(/* webpackChunkName: "ui-mdviewer" */ '@/components/ui/MdViewer')

export default {
  name: 'Notes',

  components: { Quote, FloatingButton, NotesForm, MdViewer },

  data() {
    return {
      showNoteForm: false,
      notesToEdit: ''
    }
  },

  computed: {
    notes() {
      return this.$store.state.userData.notes
    }
  },

  created() {
    this.$store.commit('setTitle', 'Notes')
  },

  methods: {
    displayForm() {
      this.showNoteForm = true
      this.notesToEdit = this.$store.state.userData.notes
    }
  }
}
</script>
