<template>
  <BModal v-model="showModal" centered hide-header size="lg" @hidden="reset">
    <form>
      <div class="form-row">
        <div class="form-group col">
          <label for="cycle">Cycle</label>
          <input id="cycle" v-model="cycle" type="text" class="form-control" autofocus />
        </div>

        <div class="form-group col">
          <label for="startDate">Début</label>
          <input id="startDate" v-model="startDate" type="date" class="form-control" />
        </div>

        <div class="form-group col">
          <label for="endDate">Fin</label>
          <input id="endDate" v-model="endDate" type="date" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content" v-model="content" class="form-control" />
      </div>
    </form>

    <div v-if="error" class="mt-3 text-center text-primary">
      <small>Veuillez remplir correctement le formulaire.</small>
    </div>

    <div
      slot="modal-footer"
      class="w-100 text-right d-flex justify-content-between align-items-center"
    >
      <icon
        :class="{ invisible: !edit.id }"
        class="float-left text-white cursor-pointer p-2"
        icon="ui-delete"
        size="1x"
        @click.native="deletePlan"
      />
      <div>
        <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
        <button class="btn btn-primary" @click="savePlan">Enregistrer</button>
      </div>
    </div>
  </BModal>
</template>

<script>
import { BModal } from 'bootstrap-vue'
import format from 'date-fns/format'

export default {
  name: 'PlansForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      showModal: false,
      error: false,
      // Form
      cycle: '',
      startDate: '',
      endDate: '',
      content: ''
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm

      if (this.edit && this.edit.id) {
        this.cycle = this.edit.cycle
        this.startDate = format(this.edit.startDate, 'yyyy-MM-dd')
        this.endDate = format(this.edit.endDate, 'yyyy-MM-dd')
        this.content = this.edit.content
      }
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.error = false

      this.cycle = ''
      this.startDate = ''
      this.endDate = ''
      this.content = ''
    },

    closeModal() {
      this.showModal = false
      this.reset()
    },

    savePlan() {
      if (!this.cycle || !this.startDate || !this.endDate || !this.content) {
        this.error = true
        return
      }

      const plan = {
        cycleId: this.startDate.split('-')[0] + '-' + this.cycle,
        cycle: this.cycle,
        startDate: new Date(this.startDate).getTime(),
        endDate: new Date(this.endDate).getTime(),
        content: this.content
      }

      if (this.edit.id) {
        this.$db.patchPlan(this.edit.id, plan)
      } else {
        this.$db.addPlan(plan)
      }

      this.closeModal()
    },

    deletePlan() {
      this.$db.deletePlan(this.edit.id)

      // Redirect to list
      this.$router.replace('/plans')
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

#content {
  height: 30vh;

  @media (min-width: $grid-breakpoint-lg) {
    height: 60vh;
  }
}
</style>
