<template>
  <div>
    <MdViewer :title="weekName" :text="week.content" />

    <FloatingButton v-if="isRole.admin" :click-handler="displayForm" icon="ui-edit" />

    <PlansForm v-if="isRole.admin" v-model="showPlansForm" :edit="week" />
  </div>
</template>

<script>
import { find } from 'lodash-es'
import date from '@/filters/date'

import PlansForm from './PlansForm'
import FloatingButton from '@/components/ui/FloatingButton'
const MdViewer = () => import(/* webpackChunkName: "ui-mdviewer" */ '@/components/ui/MdViewer')

export default {
  name: 'Plan',

  components: { MdViewer, FloatingButton, PlansForm },

  props: {
    id: {
      type: String,
      required: true
    }
  },

  data() {
    return {
      week: {},
      showPlansForm: false
    }
  },

  computed: {
    weekName() {
      return 'Semaine du ' + date(this.week.startDate) + ' au ' + date(this.week.endDate)
    }
  },

  watch: {
    plans() {
      this.getWeek()
    }
  },

  created() {
    this.$store.commit('setBack', true)

    this.getWeek()
  },

  destroyed() {
    this.$store.commit('setBack', false)
  },

  methods: {
    getWeek() {
      if (this.$store.state.plans.length > 0)
        this.week = find(this.$store.state.plans, week => week.id === this.id)
    },

    displayForm() {
      this.showPlansForm = true
    }
  }
}
</script>
