<template>
  <div>
    <Quote
      v-if="cycles.length === 0"
      title="En attendant les plans d'entrainement, voici une petite citation..."
    />

    <div v-for="cycle in cycles" v-else :key="cycle.id" class="card border border-primary mb-3">
      <div class="card-header bg-primary text-secondary">Cycle {{ cycle.name }}</div>

      <div class="list-group list-group-flush">
        <router-link
          v-for="week in cycle.weeks"
          :key="week.id"
          :to="'/plans/' + week.id"
          class="list-group-item list-group-item-action list-group-item-dark"
          :class="{ active: Date.now() > week.startDate && Date.now() < week.endDate }"
        >
          Semaine du {{ week.startDate | date }} au {{ week.endDate | date }}
        </router-link>
      </div>
    </div>

    <FloatingButton
      v-if="isRole.admin"
      :click-handler="displayForm"
      icon="ui-add"
      :class="{ animate: cycles.length === 0 }"
    />

    <PlansForm v-if="isRole.admin" v-model="showPlansForm" />
  </div>
</template>

<script>
import { orderBy, groupBy } from 'lodash-es'
import Quote from '@/components/ui/Quote'
import FloatingButton from '@/components/ui/FloatingButton'
import PlansForm from './PlansForm'

export default {
  name: 'Plans',

  components: { Quote, FloatingButton, PlansForm },

  data() {
    return {
      showPlansForm: false
    }
  },

  computed: {
    cycles() {
      // Sort plans by start date...
      const allPlans = orderBy(this.$store.state.plans, ['cycleId', 'startDate'], ['desc', 'asc'])
      // Group by cycle...
      const groupedCycles = groupBy(allPlans, 'cycleId')
      // Create cycle objects
      const cycles = []
      for (const cycleId in groupedCycles) {
        if (Object.prototype.hasOwnProperty.call(groupedCycles, cycleId)) {
          const element = groupedCycles[cycleId]
          const cycleObj = {}
          cycleObj.id = cycleId
          cycleObj.name = element[0].cycle
          cycleObj.startDate = element[0].startDate
          cycleObj.weeks = element
          cycles.push(cycleObj)
        }
      }
      // And finaly sort cycles by start date...
      return orderBy(cycles, ['startDate'], ['desc'])
    }
  },

  created() {
    this.$store.commit('setTitle', `Plans d'entrainement`)
  },

  methods: {
    displayForm() {
      this.showPlansForm = true
    }
  }
}
</script>
