<template>
  <div id="app" class="container p-3 mt-5">
    <Navbar @open-sidebar="openSidebar" />
    <Sidebar v-model="sidebarVisibility" />

    <div v-if="isFacebookApp" class="main">
      <MainTitle />
      <div class="mt-5 text-center">
        Navigateur non supporté.<br /><br />
        Merci d'utiliser Google Chrome sur Android, ou Safari sur iPhone pour installer
        l'application.
      </div>
    </div>

    <div v-else class="main">
      <router-view />
    </div>

    <div
      v-if="isUpdateAvailable"
      class="fixed-message bg-primary text-secondary text-center p-2 cursor-pointer"
      @click="reload"
    >
      Une nouvelle version est disponible !<br />
      <small>Clique ici pour relancer l'application</small>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Sidebar from '@/components/layout/Sidebar'
import eventBus from '@/eventBus'
import MainTitle from '@/components/views/home/MainTitle'

export default {
  name: 'App',

  components: { MainTitle, Navbar, Sidebar },

  data() {
    return {
      isUpdateAvailable: false,
      waitingServiceWorker: null,
      sidebarVisibility: false
    }
  },

  computed: {
    isFacebookApp() {
      var ua = navigator.userAgent || navigator.vendor || window.opera
      return ua.indexOf('FBAN') > -1 || ua.indexOf('FBAV') > -1
    }
  },

  created() {
    this.$store.commit('setTitle', '')

    if (process.env.NODE_ENV === 'production') eventBus.$on('sw-updated', this.onSwUpdated)
    if (process.env.VUE_APP_NIGHTLY === 'true') document.body.classList.add('bg-success')
  },

  destroyed() {
    if (process.env.NODE_ENV === 'production') eventBus.$off('sw-updated', this.onSwUpdated)
  },

  methods: {
    openSidebar() {
      this.$nextTick(() => {
        this.sidebarVisibility = true
      })
    },

    onSwUpdated(waitingSW) {
      this.isUpdateAvailable = true
      this.waitingServiceWorker = waitingSW
    },

    reload() {
      if (this.waitingServiceWorker) {
        this.waitingServiceWorker.postMessage({ action: 'skipWaiting' })
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

@media (min-width: $grid-breakpoint-md) {
  .main {
    margin-left: 200px;
  }
}

.fixed-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
}
</style>
