// Superhero 4.1.1
// Bootswatch

// Variables ===================================================================

$web-font-path: 'https://fonts.googleapis.com/css?family=Lato:300,400,700' !default;

@import url($web-font-path);

// Navbar ======================================================================

.navbar {
  font-size: $font-size-sm;
}

// Buttons =====================================================================

.btn {
  &-info,
  &-warning {
    color: $white;
  }
}

// Typography ==================================================================

.dropdown-menu {
  font-size: $font-size-sm;
}

.dropdown-header {
  font-size: $font-size-sm;
}

.blockquote-footer {
  color: $body-color;
}

// Tables ======================================================================

.table {
  font-size: $font-size-sm;

  .thead-dark th {
    color: $white;
  }

  a:not(.btn) {
    color: #fff;
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .text-muted {
    color: $text-muted;
  }

  &-success {
    &,
    > th,
    > td {
      background-color: $success;
    }
  }

  &-info {
    &,
    > th,
    > td {
      background-color: $info;
    }
  }

  &-danger {
    &,
    > th,
    > td {
      background-color: $danger;
    }
  }

  &-warning {
    &,
    > th,
    > td {
      background-color: $warning;
    }
  }

  &-hover {
    .table-success:hover {
      &,
      > th,
      > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &,
      > th,
      > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &,
      > th,
      > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &,
      > th,
      > td {
        background-color: darken($warning, 5%);
      }
    }
  }
}

// Forms =======================================================================

.checkbox label,
.help-block,
.radio label,
label {
  font-size: $font-size-sm;
}

.input-addon,
.input-group-addon {
  color: $body-color;
}

// Navs ========================================================================

.nav-pills,
.nav-tabs {
  .nav-link,
  .nav-link:hover {
    color: $body-color;
  }

  .nav-link.disabled {
    color: $nav-link-disabled-color;
  }
}

.page-link:focus,
.page-link:hover {
  color: #fff;
  text-decoration: none;
}

// Indicators ==================================================================

.alert {
  color: $white;
  border: none;

  .alert-link,
  a {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      background-color: $value;
    }
  }
}

.badge {
  &-info,
  &-warning {
    color: $white;
  }
}

.close {
  opacity: 0.5;

  &:focus,
  &:hover {
    opacity: 1;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

.modal {
  &-footer,
  &-header {
    background-color: $table-hover-bg;

    .close {
      color: #fff;
      text-shadow: none;
      opacity: 0.5;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }
  }
}
