// Navs ========================================================================

.nav-pills,
.nav-tabs {
  .nav-link,
  .nav-link:hover {
    &.active {
      color: $secondary;
    }
  }
}

.navbar.bg-transparent {
  box-shadow: none;
}
