<template>
  <div>
    <Quote v-if="allMaxes.length === 0" title="Travaillons au moins les zigomatiques !" />

    <div v-for="max in allMaxes" v-else :key="max.id" class="d-flex align-items-stretch mb-3">
      <div class="strides d-flex flex-column justify-content-center align-items-center mr-3">
        <span>{{ max.maxWeight }}</span>
        <small>kg</small>
      </div>
      <div class="d-flex align-self-center flex-grow-1">
        <div
          class="d-flex align-items-center justify-content-between w-100 cursor-pointer"
          @click="
            $router.push({ path: $store.state.leftButton.route, query: { weight: max.maxWeight } })
          "
        >
          <span>{{ max.label }}</span>
          <icon
            class="text-dark cursor-pointer"
            icon="ui-edit"
            size="1x"
            @click.native.stop="displayForm(max)"
          />
        </div>
      </div>
    </div>

    <FloatingButton
      :click-handler="displayForm"
      icon="ui-add"
      :class="{ animate: allMaxes.length === 0 }"
    />

    <BodyForm v-model="showMaxForm" :edit="maxToEdit" />
  </div>
</template>

<script>
import { find, orderBy, map } from 'lodash-es'
import config from '@/configuration/config'
import Quote from '@/components/ui/Quote'
import FloatingButton from '@/components/ui/FloatingButton'
import BodyForm from './BodyForm'

export default {
  name: 'Body',

  components: { Quote, FloatingButton, BodyForm },

  data() {
    return {
      showMaxForm: false,
      maxToEdit: {}
    }
  },

  computed: {
    allMaxes() {
      const values = this.$store.state.userBodyMaxes
      map(values, max => {
        max.label = find(config.exercices, ['code', max.exercice]).label
        return max
      })
      return orderBy(values, ['label'])
    }
  },

  created() {
    this.$store.commit('setTitle', 'Musculation')
    this.$store.commit('setLeftButton', {
      icon: 'ui-calculator',
      route: '/calculator'
    })
  },

  destroyed() {
    this.$store.commit('setLeftButton', false)
  },

  methods: {
    displayForm(max = {}) {
      this.showMaxForm = true
      this.maxToEdit = max
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.strides {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  line-height: 0.8em;
  color: $secondary;
  background: $primary;
  border-radius: 50%;

  small {
    font-size: 0.4em;
    line-height: 1.6em;
  }
}
</style>
