<template>
  <BModal v-model="showModal" centered hide-header @hidden="reset">
    <form>
      <div class="form-group">
        <label for="exercice">Exercice</label>
        <select id="exercice" v-model="exercice" :disabled="edit.id" class="form-control">
          <option v-for="e in exercices" :key="e.code" :value="e.code">
            {{ e.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="maxWeight">Poids maximum</label>
        <input id="maxWeight" v-model="maxWeight" type="number" step=".5" class="form-control" />
      </div>
    </form>

    <div v-if="error" class="mt-3 text-center text-primary">
      <small>Veuillez remplir correctement le formulaire.</small>
    </div>

    <div
      slot="modal-footer"
      class="w-100 text-right d-flex justify-content-between align-items-center"
    >
      <icon
        :class="{ invisible: !edit.id }"
        class="float-left text-white cursor-pointer p-2"
        icon="ui-delete"
        size="1x"
        @click.native="deleteBodyMax"
      />
      <div>
        <button class="btn btn-secondary mr-2" @click="closeModal">Annuler</button>
        <button class="btn btn-primary" @click="setBodyMax">Enregistrer</button>
      </div>
    </div>
  </BModal>
</template>

<script>
import { orderBy } from 'lodash-es'
import { BModal } from 'bootstrap-vue'
import config from '@/configuration/config'

export default {
  name: 'BodyForm',

  components: { BModal },

  model: {
    prop: 'showForm',
    event: 'change'
  },

  props: {
    showForm: {
      type: Boolean,
      required: true
    },
    edit: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      showModal: false,
      error: false,
      // Form
      exercice: 'lift',
      maxWeight: ''
    }
  },

  computed: {
    exercices() {
      return orderBy(config.exercices, ['label'])
    }
  },

  watch: {
    showForm() {
      this.showModal = this.showForm

      if (this.edit && this.edit.id) {
        this.exercice = this.edit.exercice
        this.maxWeight = this.edit.maxWeight
      }
    },
    showModal() {
      this.$emit('change', this.showModal)
    }
  },

  methods: {
    reset() {
      this.error = false
      this.exercice = 'lift'
      this.maxWeight = ''
    },

    closeModal() {
      this.showModal = false
      this.reset()
    },

    setBodyMax() {
      if (!this.maxWeight) {
        this.error = true
        return
      }

      const bodyMax = {
        exercice: this.exercice,
        maxWeight: this.maxWeight
      }

      if (this.edit.id) {
        this.$db.patchBodyMax(this.edit.id, bodyMax)
      } else {
        this.$db.addBodyMax(bodyMax)
      }

      this.closeModal()
    },

    deleteBodyMax() {
      this.$db.deleteBodyMax(this.edit.id)

      this.closeModal()
    }
  }
}
</script>
