<template>
  <div id="calculator">
    <input
      v-model="weight"
      class="form-control form-control-lg w-50 my-3 mx-auto text-center"
      type="number"
      step=".5"
      placeholder="Poids max"
    />

    <div v-if="!weight" class="w-75 mx-auto text-muted font-italic text-center">
      Rentrer un poids pour calculer la table de pourcentages
    </div>

    <ul v-if="weight" class="list-group w-75 mx-auto">
      <li v-for="percentage in percentages" :key="percentage" class="list-group-item py-2 px-4">
        <div class="d-flex justify-content-between ">
          <span>{{ percentage }}%</span>
          <span>{{ (weight * percentage) / 100 }} kg</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Calculator',

  data() {
    return {
      weight: ''
    }
  },

  computed: {
    percentages() {
      return [30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120]
    }
  },

  created() {
    this.$store.commit('setTitle', 'Calculatrice')
    this.$store.commit('setBack', true)

    if (this.$route.query.weight) this.weight = this.$route.query.weight
  },

  destroyed() {
    this.$store.commit('setBack', false)
  }
}
</script>

<style scoped lang="scss">
.list-group {
  max-height: 75vh;
  overflow: auto;
}
</style>
