<template>
  <div :class="'avatar-' + size" class="avatar">
    <div
      v-if="pictureUrl"
      :style="'background-image:url(' + pictureUrl + ')'"
      class="rounded-circle picture"
    />
    <div v-else class="rounded-circle img-fluid initial">
      {{ username.charAt(0).toUpperCase() }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Avatar',

  props: {
    // Username
    username: {
      type: String,
      default: '',
      required: true
    },
    // Avatar url if set
    pictureUrl: {
      type: String,
      default: ''
    },
    // Size: sm, md, lg or empty (fit in container)
    size: {
      type: String,
      default: 'md'
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.avatar {
  position: relative;

  &-sm {
    width: 16px;
    height: 16px;

    .initial {
      font-size: 0.5rem;
    }
  }

  &-md {
    width: 32px;
    height: 32px;

    .initial {
      font-size: 1.5rem;
    }
  }

  &-lg {
    width: 64px;
    height: 64px;

    .initial {
      font-size: 3rem;
    }
  }

  &-xl {
    width: 128px;
    height: 128px;

    .initial {
      font-size: 5rem;
    }
  }

  .picture {
    z-index: 20;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }

  .initial {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-400;
    background-color: $gray-600;
  }
}

.active .avatar {
  img,
  .initial {
    border: 1px solid $secondary;
  }
}
</style>
