<template>
  <div class="row align-items-center mb-3">
    <div class="col-8 col-md-4">
      <span class="mr-3">{{ label }}</span>
    </div>

    <div class="col-4 col-md-3">
      <button
        v-if="!displayConfirm"
        key="delete"
        class="btn btn-block btn-sm btn-primary mr-3"
        @click="displayConfirm = true"
      >
        Supprimer
      </button>

      <template v-else>
        <button key="cancel" class="btn btn-block btn-sm btn-secondary mr-3" @click="cancel">
          Annuler
        </button>
        <button key="confirm" class="btn btn-block btn-sm btn-danger mr-3" @click="confirm">
          Supprimer
        </button>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ButtonConfirm',

  props: {
    label: {
      type: String,
      required: true
    },
    onConfirm: {
      type: Function,
      required: true
    }
  },

  data() {
    return {
      displayConfirm: false
    }
  },

  methods: {
    cancel() {
      this.displayConfirm = false
    },

    confirm() {
      this.onConfirm()
      this.displayConfirm = false
    }
  }
}
</script>
