<template>
  <div :title="title" class="floating-button" @click="click">
    <icon :icon="icon" />
  </div>
</template>

<script>
export default {
  name: 'FloatingButton',

  props: {
    // Main icon class
    icon: {
      type: String,
      required: true
    },
    // Click handler
    clickHandler: {
      type: Function,
      default: () => {}
    },
    // Title
    title: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      // Toggle status
      open: false
    }
  },

  methods: {
    click() {
      this.clickHandler()
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.floating-button {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1039;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  overflow: hidden;
  text-decoration: none;
  background: $primary;
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear;

  @keyframes heartBeat {
    0%,
    7%,
    18% {
      transform: scale(1);
    }

    4%,
    11% {
      transform: scale(1.1);
    }
  }

  &.animate {
    animation-name: heartBeat;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  i {
    margin: 0;
    font-size: 24px;
    color: $secondary;
  }

  &:hover {
    cursor: pointer;
    background: $secondary;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.3);

    i {
      color: $primary;
    }
  }
}
</style>
