<template>
  <i :class="['icofont-' + icon, 'icofont-' + size]" />
</template>

<script>
import '@/icons/icofont.min.css'

export default {
  name: 'Icon',

  props: {
    // Icon name, used in class name
    icon: {
      type: String,
      default: ''
    },
    // Icon size
    // 1x, 2x, 3x, 4x, 5x
    size: {
      type: String,
      default: '2x'
    }
  }
}
</script>
