<template>
  <div class="card border border-primary">
    <div v-if="title" class="card-header bg-primary text-secondary">
      {{ title }}
    </div>

    <!-- eslint-disable-next-line vue/no-v-html -->
    <div id="mdViewer" class="card-body" v-html="content" />
  </div>
</template>

<script>
import MarkdownIt from 'markdown-it'

export default {
  name: 'MdViewer',

  props: {
    title: {
      type: String,
      default: ''
    },
    file: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  },

  computed: {
    content() {
      const md = new MarkdownIt()

      if (this.file) {
        const file = require('@/' + this.file + '.md').default
        return md.render(file)
      }

      if (this.text) {
        return md.render(this.text)
      }

      return ''
    }
  }
}
</script>

<style lang="scss">
@import '~@/scss/variables';

#mdViewer {
  font-size: 80%;

  h2 {
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: $primary;
    border-top: 1px solid $primary;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
      border-top: none;
    }
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  p,
  ul {
    margin-bottom: 0;
  }

  ul {
    padding-left: 20px;
  }
}
</style>
