<template>
  <div class="mt-5">
    <div class="font-italic text-center">
      {{ title }}
    </div>

    <blockquote class="blockquote w-75 mt-5 mx-auto p-3 border border-secondary">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <p class="mb-0" v-html="quote.quote" />

      <footer class="mt-2 blockquote-footer text-muted">
        {{ quote.user }}
      </footer>
    </blockquote>
  </div>
</template>

<script>
import { orderBy } from 'lodash-es'

export default {
  name: 'Quote',

  props: {
    title: {
      type: String,
      default: ''
    }
  },

  computed: {
    quotes() {
      return orderBy(this.$store.state.quotes, ['date'], ['desc'])
    },

    quote() {
      const i = Math.floor(Math.random() * this.quotes.length)
      return this.$store.state.quotes[i] || {}
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

.blockquote {
  font-size: 90%;

  p {
    white-space: pre-line;
  }
}
</style>
