<template>
  <div :class="color" class="hollow-dots-spinner">
    <div class="dot" />
    <div class="dot" />
    <div class="dot" />
  </div>
</template>

<script>
export default {
  name: 'Spinner',

  props: {
    color: {
      type: String,
      default: 'primary'
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/variables';

/* From https://epic-spinners.epicmax.co/#/ */
.hollow-dots-spinner,
.hollow-dots-spinner * {
  box-sizing: border-box;
}

.hollow-dots-spinner {
  width: calc(30px * 3);
  height: 15px;
  margin: 0 auto;

  .dot {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 calc(15px / 2);
    border: calc(15px / 5) solid $primary;
    border-radius: 50%;
    transform: scale(0);
    animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
  }

  &.primary .dot {
    border-color: $primary;
  }

  &.secondary .dot {
    border-color: $secondary;
  }

  .dot:nth-child(1) {
    animation-delay: calc(300ms * 1);
  }

  .dot:nth-child(2) {
    animation-delay: calc(300ms * 2);
  }

  .dot:nth-child(3) {
    animation-delay: calc(300ms * 3);
  }
}

@keyframes hollow-dots-spinner-animation {
  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
  }
}
</style>
